
div {
  height: 300px;
  width: 200px;
  margin: 10px;
  border: 1px solid black;
}

header {
  height: 20vh;
  color: gray;
  background-color: black;
}

main {
  display: flex;
  flex-wrap: wrap;
  background-color: tan;
}

h2 {
  display: block;
  clear: both;
}